* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 200px;
  width: 400px;
  border-radius: 20px;
  background-color: lightgray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.progresscontainer {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background-color: white;
}
.bar {
  height: 100%;
  background-color: green;
  border-radius: 20px;
}
