* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  margin: 20px;
}
form {
  padding: 5px;
}
#main form input {
  display: block;
  padding: 5px;
  margin: 10px;
  border: 2px solid red;
  width: 500px;
}

.cardwrapper {
  display: flex;
  gap: 20px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #e3e3e3;
  margin: 20px;
  color: red;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.p {
  font-size: 22px;
}
