* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 300px;
  height: 200px;
  background-color: #e2e2e2;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;
}