* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main > h1 {
  font-size: 50px;
  color: red;
}
.main input {
  padding: 10px;
  width: 300px;
  border-radius: 30px;
  font-size: 20px;
}
.card-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.card {
  background-color: #e3e3e3;
  width: 250px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.err {
  color: red;
  font-size: 30px;
  margin: 100px 650px;
}
