* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main h1 {
  color: #e3e3e3;
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  font-family: cursive;
}

#inpfile {
  display: none;
}

#btn {
  padding: 13px 20px;
  background-color: rgb(232, 71, 71);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
#main #btn:hover{
  background-color: red;
}
