* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 11px 23px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 30px;
}
